<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/css/dashboard-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="business-dashboard" class="brand-wrap">
                <img src="/static/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="business-dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="business-all-products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="business-all-products">All Products</a>
                        <a href="business-product-categories">Product Categories</a>
                    </div>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="business-add-product" class="active"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>                
                <li class="menu-item">
                    <a class="menu-link" href="business-orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="business-transactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="business-settings"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>                
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="business-account-login">Sign In</a>
                        <a href="business-account-register">Sign Up</a>
                    </div>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        {{$res := index .Data "product"}}
        <form action="/business-add-product" method="post"  class="" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <!-- <input type="hidden" name="product_id" value="{{$res.ProductID}}"> -->

            <header class="main-header navbar">
                <div class="col-search">
                    <div class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                            <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products">
                            <option value="New orders">
                            <option value="Apple iphone">
                            <option value="Ahmed Hassan">
                        </datalist>
                    </div>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="/static/imgs/theme/flag-us.png" alt="English">English</a>
                                <a class="dropdown-item" href="#"><img src="/static/imgs/theme/flag-fr.png" alt="Français">Français</a>
                                <a class="dropdown-item" href="#"><img src="/static/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                                <a class="dropdown-item" href="#"><img src="/static/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/static/imgs/people/avatar2.jpg" alt="User"></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                            <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                <button type="submit" class="btn btn-md rounded font-sm hover-up" name="submit" value="submit">Publich</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_name" name='name' value="{{$res.Name}}">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4" name='desc' value="{{$res.Desc}}"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Material</label>
                                                <div class="row gx-2">
                                                    <input placeholder="Fabric material" type="text" class="form-control" name='material' value="{{$res.Material}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Color</label>
                                                <input placeholder="Red" type="text" class="form-control" name='color' value="{{$res.Color}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Gender</label>
                                            <select class="form-select" name='gender' name='gender' value="{{$res.Gender}}">
                                                <option> Men </option>
                                                <option> Women </option>
                                                <option> Unisex </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Size</label>
                                                <div class="row gx-2">
                                                    <input placeholder="M" type="text" class="form-control" name='size' value="{{$res.Size}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Brand</label>
                                                <input placeholder="Gigilvy" type="text" class="form-control" name='brand' value="{{$res.Brand}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Origin</label>
                                            <select class="form-select" name='origin' value="{{$res.Origin}}">
                                                <option> Imported goods </option>
                                                <option> Domestic goods </option>
                                                <option> Other </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Tax rate</label>
                                        <input type="text" placeholder="%" class="form-control" id="product_name" name='tax_rate' value="{{$res.TaxRate}}">
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Regular price</label>
                                                <div class="row gx-2">
                                                    <input placeholder="VND" type="text" class="form-control" name='price_regular' value="{{$res.PriceRegular}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Promotional price</label>
                                                <input placeholder="VND" type="text" class="form-control" name='price_discount' value="{{$res.PriceDiscount}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Currency</label>
                                            <select class="form-select" name='currency' value="{{$res.Currency}}">
                                                <option> VND </option>
                                                <option> USD </option>
                                                <option> EUR </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">SKU Generator</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_name" name='sku' value="{{$res.SKU}}">
                                    </div>
                                    <label class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label"> Make a template </span>
                                    </label>
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Shipping</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Width</label>
                                                <input type="text" placeholder="cm" class="form-control" id="product_name" name='shipping_width' value="{{$res.ShippingWidth}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Height</label>
                                                <input type="text" placeholder="cm" class="form-control" id="product_name" name='shipping_height' value="{{$res.ShippingHeight}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Weight</label>
                                        <input type="text" placeholder="gram" class="form-control" id="product_name" name='shipping_weight' value="{{$res.ShippingWeight}}">
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Shipping fees</label>
                                        <input type="text" placeholder="VND" class="form-control" id="product_name" name='shipping_fee' value="{{$res.ShippingFee}}">
                                    </div>
                                </div>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="/static/imgs/theme/upload.svg" alt="">
                                    <input class="form-control" type="file">
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Organization</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-2">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" name='category' value="{{$res.Category}}">
                                            <option> Automobiles </option>
                                            <option> Home items </option>
                                            <option> Electronics </option>
                                            <option> Smartphones </option>
                                            <option> Sport items </option>
                                            <option> Baby and Tous </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Sub-category</label>
                                        <select class="form-select" name='category_sub' value="{{$res.CategorySub}}">
                                            <option> Nissan </option>
                                            <option> Honda </option>
                                            <option> Mercedes </option>
                                            <option> Chevrolet </option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Tags</label>
                                        <input type="text" class="form-control" name='tag' value="{{$res.Tag}}">
                                    </div>
                                </div> <!-- row.// -->
                            </div>
                        </div> <!-- card end// -->
                    </div>
                </div>
            </section> <!-- content-main end// -->
        </form>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/static/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vendors/select2.min.js"></script>
    <script src="/static/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>